In [1]:
import sqlite3 as sq
import pandas as pd

In [2]:
df = pd.read_csv('Final_UKelectricty_AtoZ.csv')
df

,id,Postcode,Mean_consumption,Median_consumption,Areacode,longitude,latitude
0,0,AB10 1AU,3099.678261,1735.70,AB,-2.096316,57.147756
1,1,AB10 1BA,2944.905882,2518.40,AB,-2.098699,57.148823
2,2,AB10 1BB,2523.860000,2820.80,AB,-2.097108,57.147207
3,3,AB10 1FG,2363.820833,2087.20,AB,-2.097363,57.149965
4,4,AB10 1FL,4051.692857,3536.50,AB,-2.096868,57.150190
...,...,...,...,...,...,...,...
1186885,1186885,ZE3 9JU,2881.250000,2694.25,ZE,-1.307206,59.889544
1186886,1186886,ZE3 9JW,6380.195833,5010.25,ZE,-1.305697,59.873651
1186887,1186887,ZE3 9JX,2943.266667,2085.20,ZE,-1.307502,59.875286
1186888,1186888,ZE3 9JY,3675.183333,3412.75,ZE,-1.313847,59.891572
1186889,1186889,ZE3 9JZ,3725.250000,2972.30,ZE,-1.310899,59.892392

In [3]:
conn = sq.connect('finalukenergy.sqlite')

In [4]:
df.to_sql(name="UKEnergy", con=conn, if_exists='replace', index=False)

1186890

In [5]:
conn.commit()